<%= render 'shared/header' %>

<div class="career-form-content container">
  <h2 class="career-form-title">経歴の編集</h2>
  <%= form_with model: @career, url: creator_careers_path(@creator), class: 'career-form', local: true do |f|%>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="career-job-category">
      <div class="career-job-category-title">職種</div>
      <%= f.collection_select( :job_category_id, JobCategory.all, :id, :name, {class: 'career-job-category-content'}) %>
    </div>
    <div class="career-year">
      <div class="career-year-title">経験年数</div>
      <%= f.text_field :year, class: 'career-year-content', placeholder: '1' %>
    </div>
    <%= f.submit '保存する', class: 'category-btn' %>
  <% end %>
</div>

<%= render 'shared/footer' %>
