<footer>
  <div class="footer">
    <div class="footer-contents">
      <div class="maview-details">
        <h2 class="footer-content-head">maviewを見る</h2>
        <ul>
          <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
          <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
          <li><%= link_to 'MAVIEW利用規約', "#", class: "footer-link" %></li>
          <li><%= link_to 'ポイントに関する特約', "#", class: "footer-link" %></li>
        </ul>
      </div>
      <div class="maview-details">
        <h2 class="footer-content-head">maviewについて</h2>
        <ul>
          <li><%= link_to '仕事を探す', "#", class: "footer-link" %></li>
        <li><%= link_to '仕事を提案する', "#", class: "footer-link" %></li>
        </ul>
      </div>
      <div class="maview-details">
        <h2 class="footer-content-head">maviewについて</h2>
        <ul>
          <li><%= link_to 'MAVIEWガイド', "#", class: "footer-link" %></li>
          <li><%= link_to 'MAVIEWロゴ利用ガイドライン', "#", class: "footer-link" %></li>
          <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>