<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Maview</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">ホーム <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <%= link_to 'メッセージ', rooms_path, class:'nav-link' %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

      <% if creator_signed_in? %>
        <li class="nav-item"><%= link_to current_creator.first_name, creator_path(current_creator), class: "nav-link creator-name" %></li> 
        <li class="nav-item"><%= link_to 'ログアウト', destroy_creator_session_path, method: :delete, class: "nav-link logout" %></li> 
      <% elsif company_signed_in? %>
        <li class="nav-item"><%= link_to current_company.name, company_path(current_company), class: "nav-link company-name" %></li> 
        <li class="nav-item"><%= link_to 'ログアウト', destroy_company_session_path, method: :delete, class: "nav-link logout" %></li> 
        <li class="nav-item"><%= link_to '案件を提案する', new_order_path, class: "nav-link logout" %></li> 
      <% else %>
        <li class="nav-item"><%= link_to 'クリエイターでログイン', new_creator_session_path, class: "nav-link login" %></li>
        <li class="nav-item"><%= link_to '法人でログイン', new_company_session_path, class: "nav-link login" %></li>
        <li class="nav-item"><%= link_to 'クリエイター新規登録', new_creator_registration_path, class: "nav-link signup" %></li>
        <li class="nav-item"><%= link_to '法人で新規登録', new_company_registration_path, class: "nav-link signup" %></li>
      <% end %>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
   
  </div>
</nav>
</header>