<% deadline = ( order.last_day.day - DateTime.now.day ).to_i %>
<div class="order-lists">
  <div class="order-list">
    <div class="order-upper-content">
      <div class="order-title"><%= link_to order.title, order_path(order), class: 'title-link' %></div>
      <div class="order-list-content">
        <div class="order-award">
          <p>報酬</p>
          <p><%= order.award %>円</p>
        </div>
        <div class="order-apply-number">
        <p>応募</p>
        <p>3人</p>
        </div>
        <div class="order-deadline">あと<span><%= deadline %></span>日</div>
      </div>
    </div>
    <div class="order-lower-content">
      <div class="order-company-name">
        <%= order.company.name %> <span id="like-<%= order.id %>"><%= render partial: 'like', locals: {  order: order } %></span>
      </div>
      <div class="order-created-at">掲載日: <%= order.created_at.strftime('%Y/%m/%d') %></div>
    </div>
  </div>
</div>