<%= render 'shared/header' %>

  <div class="creator-index container" >
    <div class="creator-profile">
      <div class="creator-profile-header">
        <h2 class="creator-profile-title">プロフィール</h2>
        <%= link_to '編集する', creator_path(@creator), class:'edit-btn' %>
      </div>
      <div class="creator-profile-content ">
        <div class="creator-content-list">
          <div class="creator-name-title">名前</div>
          <div class="creator-name"><%= @creator.first_name %> <%= @creator.last_name %></div>
        </div>
        <div class="creator-content-list">
          <div class="creator-kana-title">フリガナ</div>
          <div class="creator-kana"><%= @creator.kana_first_name %> <%= @creator.kana_last_name %></div>
        </div>
        <div class="creator-content-list">
          <div class="creator-birth-title">生年月日</div>
          <div class="creator-birth"><%= @creator.birth_date.strftime('%Y/%m/%d') %></div>
        </div>
        <div class="creator-content-list">
          <div class="creator-prefecture-title">居住地</div>
          <div class="creator-prefecture"><%= @creator.prefecture.name %></div>
        </div>
      </div>
    </div>
    <div class="creator-career-profile">
      <div class="creator-profile-header">
        <h2 class="creator-profile-title">経歴</h2>
        <% if @career != nil %>
          <%= link_to '編集する', edit_creator_career_path(@creator.id, @career.id), class:'edit-btn' %> 
        <% else %>
          <%= link_to '編集する', new_creator_career_path(@creator), class:'edit-btn' %>
        <% end %>
      </div>
      <div class="creator-profile-content ">
        <div class="creator-content-category-list">
          <div class="creator-job-category-title">職種</div>
          <div class="creator-job-category">
          <% if @career %>
            <% if @career.job_category.name.present? %><%= @career.job_category.name %><% end %>
          <% else %>
            未入力
          <% end %>
          </div>
        </div>
        <div class="creator-content-category-list">
          <div class="creator-job-year-title">経験年数</div>
          <div class="creator-job-year">
          <% if @career %>
            <% if @career.year.present? %><%= @career.year %><% end %>
          <% else %>
            未入力
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="creator-portforio-profile">
      <div class="creator-profile-header">
        <h2 class="creator-profile-title">ポートフォリオ</h2>
        <% if @portforio %>
          <%= link_to '編集する', edit_creator_portforio_path(@creator.id, @portforio.id), class:'edit-btn' %> 
        <% else %>
          <%= link_to '編集する', new_creator_portforio_path(@creator), class:'edit-btn' %>
        <% end %>
      </div>
      <div class="creator-profile-content ">
        <div class="creator-portforio-content-list">
          <div class="creator-portforio-outline-title">概要</div>
          <% if @portforio %>
            <div class="creator-portforio-outline"><% if @portforio.outline.present? %><%= @portforio.outline %><% end %></div>
          <% else %>
            <div class="creator-portforio-outline"></div>
          <% end %>
        </div>
        <div class="creator-url-content-list">
          <div class="creator-portforio-url-title">URL</div>
          <% if @portforio %>
            <div class="creator-portforio-url"><% if @portforio.url.present? %><a class="creator-portforio-a" href="<%= @portforio.url %>"><%= @portforio.url %></a><% end %></div>
          <% else %>
            <div class="creator-portforio-url">未入力</div>
          <% end %>
        </div>
        <div class="creator-detail-content-list">
          <div class="creator-portforio-detail-title">詳細</div>
          <% if @portforio %>
            <div class="creator-portforio-detail"><% if @portforio.detail.present? %><%= @portforio.detail %><% end %></div>
          <% else %>
            <div class="creator-portforio-detail"></div>
          <% end %>
        </div>
        <div class="creator-github-content-list">
          <div class="creator-github-title">github</div>
          <% if @portforio %>
            <div class="creator-github"><% if @portforio.github.present? %><a class="creator-portforio-a" href="<%= @portforio.github %>"><%= @portforio.github %></a><% end %></div>
          <% else %>
            <div class="creator-github">未入力</div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="creator-profile">
      <div class="creator-profile-header">
        <h2 class="creator-profile-title">スキル</h2>
        <% if @skill %>
          <%= link_to '編集する', edit_creator_skill_path(@creator.id, @skill.id), class:'edit-btn' %> 
        <% else %>
          <%= link_to '編集する', new_creator_skill_path(@creator), class:'edit-btn' %>
        <% end %>
      </div>
      <div class="creator-profile-content ">
        <div class="creator-content-list">
          <div class="creator-skill-name-title">スキル</div>
          <% if @skill %>
            <div class="creator-skill-name"><% if @skill.skill_name.present? %><%= @skill.skill_name %><% end %></div>
          <% else %>
            <div class="creator-skill-name">未入力</div>
          <% end %>
        </div>
        <div class="creator-content-list">
          <div class="creator-skill-level-title">レベル</div>
          <% if @skill %>
            <div class="creator-skill-level"><% if @skill.level_id.present? %><%= @skill.level.name %><% end %></div>
          <% else %>
            <div class="creator-skill-level">未入力</div>
          <% end %>
        </div>
        <div class="creator-content-list">
          <div class="creator-skill-year-title">経験年数</div>
          <% if @skill %>
            <div class="creator-skill-year"><% if @skill.year.present? %><%= @skill.year %><% end %></div>
          <% else %>
            <div class="creator-skill-year">未入力</div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="creator-profile">
      <div class="creator-profile-header">
        <h2 class="creator-profile-title">自己PR</h2>
        <% if @introduction %>
          <%= link_to '編集する', edit_creator_introduction_path(@creator.id, @introduction.id), class:'edit-btn' %> 
        <% else %>
          <%= link_to '編集する', new_creator_introduction_path(@creator), class:'edit-btn' %>
        <% end %>
      </div>
      <div class="creator-profile-content ">
        <div class="creator-content-list">
          <div class="creator-minimum-price-title">希望時給</div>
          <% if @introduction %>
            <div class="creator-minimum-price"><% if @introduction.price_per_hour.present? %><%= @introduction.price_per_hour %><% end %></div>
          <% else %>
            <div class="creator-minimum-price">未入力</div>
          <% end %>
        </div>
        <div class="creator-content-list">
          <div class="creator-pr-title">PR</div>
          <% if @introduction %>
            <div class="creator-pr"><% if @introduction.pr_text.present? %><%= @introduction.pr_text %><% end %></div>
          <% else %>
            <div class="creator-pr"></div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="creator-score-content">
      <div class="creator-score-header">
          <h2 class="creator-score-title">これまでの実績</h2>
      </div>
      <div class="creator-score-lists">
        <% @contracts.each do |contract| %>
          <div class="creator-score-list">
            <div class="creator-score-list-title">タイトル:  <%= contract.order.title %></div>
            <div class="creator-score-list-content">
              <%= contract.order.content[0, 10] %>...
              <%= link_to '続きを見る', order_path(contract.order.id), class: 'creator-score-list-content-next' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<%= render 'shared/footer'  %>