<%= render 'shared/header' %>

<div class="company-index container">
  <div class="company-profile">
    <div class="company-profile-header">
      <h2 class="company-profile-title">会社詳細</h2>
      <%= link_to '編集する', edit_company_path(@company), class: 'edit-btn' %>
    </div>
    <div class="company-profile-content container">
      <div class="company-profile-list">
        <div class="company-list-title">会社名</div>
        <div class="company-list-content"><%= @company.name%></div>
      </div>
      <div class="company-profile-list">
        <div class="company-prefecture-title">所在地</div>
        <div class="company-prefecture-content"><%= @company.prefecture.name %></div>
      </div>
    </div>
  </div>
  <div class="company-outline">
    <div class="company-outline-header">
      <h2 class="company-outline-title">会社概要</div>
      <% if @outline != nil %>
        <%= link_to '編集する', edit_company_outline_path(@company, @outline), class: 'edit-btn' %>
      <% else %>
        <%= link_to '編集する', new_company_outline_path(@company), class: 'edit-btn' %>
      <% end %>
    </div>
    <div class="company-outline-content">
      <% if @outline %>
        <% if @outline.outline.present? %>
          <%= @outline.outline %>
        <% end %>
      <% end %>
    </div>
    <div class="company-card-content">
      <div class="company-card-header">
        <h2 class="company-card-header-title">カード情報</h2>
          <% if @card != nil %>
            <%= link_to '編集する', edit_company_card_path(@company, @card), class: 'edit-btn' %>
          <% else %>
            <%= link_to '編集する', new_company_card_path(@company), class: 'edit-btn' %>
          <% end %>
      </div>
      <div class="company-card-info">
        <% if @card.present? %>
          <div class="company-card-num">
            <div class="company-card-num-title">カード番号:</div>
            <div class="company-card-num-content"><%= "**** **** ****" + @card[:last4] %></div>
          </div>
          <div class="company-card-exp">
            <div class="company-card-exp-title">有効期限: </div> 
            <div class="company-card-exp-content"><%=  @card[:exp_month] %>/<%= @card[:exp_year] %></div>
          </div>
        <% else %>
          <p style="color: lightgray">カードが登録されていません</p>
        <% end %>
      </div>
    </div>
    <div class="company-history-content">
      <div class="company-history-header">
        <h2 class="company-history-title">発注履歴</h2>
      </div>
      <div class="company-history-lists">
        <% @contracts.each do |contract| %>
          <div class="company-history-list">
            <div class="company-history-title"><%= contract.order.title %></div>
            <div class="company-history-list-content">
              <%= contract.order.content[0, 10] %>...
              <%= link_to '続きを見る', order_path(contract.order.id), class: 'creator-score-list-content-next' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer'  %>